* {
    box-sizing: border-box;
}

BODY {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 25px;
}

.header-list {
    display: flex;
}

.header-list LI {
    padding: 20px;
}

.header-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.block-image {
    width: 100%;
    height: 544px;
    border-bottom: 5px solid red;
    background-image: url(nam.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.block-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 46px;
    color: white;
    width: 480px;
    /* padding-left: 155px; */
    padding-top: 130px;
}

.blockline-cont {
    /* margin-left: 155px; */
    margin-top: 50px;
}

.block-cube {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
}

.blackcube {
    width: 10px;
    height: 10px;
    background: black;
}

.whitecube {
    width: 10px;
    height: 10px;
    background: white;
}

.section-two {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.leftcontent {
    color: black;
}

.section-two__title {
    font-size: 36px;
    font-weight: bold;
}

.wrapper {
    display: flex;
}

.fig-text {
    font-size: 14px;
    margin-top: 30px;
    line-height: 24px;
    counter-reset: ol-counter;
}

.list-item::before {
    content: counter(ol-counter, decimal-leading-zero);
    position: absolute;
    left: 0;
    top: 0;

}

.list-item {
    margin-bottom: 49px;
    position: relative;
    padding-left: 55px;
    counter-increment: ol-counter;
}

.leftcontent-line {
    width: 200px;
    border: 1px solid black;
}

.btn {
    /* padding: 10px 0 10px 70px; */
    appearance: none;
    background: none;
    border: none;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* min-width: 200px; */
    padding: 20px 50px;
    text-transform: uppercase;
    
}

.btn--white {
    color: white;
    border-color: white;
}

.btn:hover,
.btn:focus {
   color: red;
   border-color: red; 
}

.btn:focus {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.60)); 
}

.btn:disabled {
    color: grey;
    border-color: grey;

}

.content-img {
    border-bottom: 5px solid black;
}

.section-three {
    width: 100%;
    height: 345px;
    background: #1B1B3A;
    color: white;
    /* margin-bottom: 70px; */
}

.section-three__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}

.figures {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.full-number {
    font-size: 80px;
}

.number-signation {
    font-size: 14px;
    margin-top: 10px;
}

.border-number {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}

.section-four {
    padding: 70px;
}

.section-four__title {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.holder-box {
    display: flex;
    gap: 20px;
}

.holder {
    /* width: 471px; */
    /* height: 170px; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #F3274C;
    display: flex;
    align-items: center;
    padding: 25px 20px 25px 30px;
    gap: 26px;
}

.holder-content {
    width: 352px;
    line-height: 24px;
    font-size: 14px;
}


