* {
    box-sizing: border-box;
}

BODY {
    background: black;
    font-family: sans-serif;

}

.address {
    display: flex;
}

.address1 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.283);
    padding-right: 10px;
}

.address2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.wrap > * {
    width: 100%;
}

.icons {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list LI {
    padding: 20px;
}

.telephone {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: flex-end;
}

.phoneicone {
    padding-right: 7px;
}

.tel {
    font-size: 15px;
    padding-right: 10px;
}

.everyday {
    font-size: 15px;
    padding-right: 10px;
}

.time {
    font-size: 15px;
}

.line {
    border: 1px solid #242424;
}

.wrap {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.sign {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    padding-left: 10px;
}

.list {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.887);
    display: flex;
    cursor: pointer;
}

.thumb {
    color: whitesmoke;
    display: flex;
    gap: 14px;
}

.logobox {
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: center;
    padding: 10px;
}

.header {
    margin-bottom: 40px;
}

.content {
    position: relative;
}

.content::before {
    position: absolute;
    left: 0;
    right: 50%;
    top: 25%;
    height: 725px;
    background: rgba(216, 119, 0, 0.6);
    border-radius: 0px 370.5px 386.5px 0px;
    z-index: -1;
    content: '';
    display: block;
}

.content-photo {
    width: 452px;
    height: 452px;
}

.slide {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.slidetext1 {
    font-size: 14px;
    color: #A1A0A3;
    padding-right: 10px;
}

.slidetext2 {
    font-size: 14px;
    color: #A1A0A3;  
}

.title {
    font-size: 36px;
    color: #FFFFFF;
    /* margin-bottom: 10px; */
    width: 311px;
    height: 89px;
}

.titletext {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    width: 560px;
    margin-bottom: 25px;
    line-height: 25px;
    /* height: 233px; */
}

P {
    margin-bottom: 5px;
}

.expand {
    color: #EA8305;
    border-bottom: 0.5px solid #EA8305;
}

.cost {
    font-size: 24px;
    color: #EA8305;
    margin-top: auto;
}

.button {
    width: 161px;
    height: 40px;
    background: #131218;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.main-container {
    display: flex;
    margin-left: 50px;
    margin-bottom: 70px;
}

.content-text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.content-down {
    font-size: 18px;
    color: white;
    margin-left: 50px;
    max-width: 765px;
    line-height: 30px;
}

.greytext {
  color:  rgba(255, 255, 255, 0.6);
}

.fixed-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
}