* {
    box-sizing: border-box;
  }

  BODY {
    margin: 20px;
    font-family: sans-serif;
  }

  .cart {
    width: 411px;
    height: 201px;
    background: black;
    border: 5px solid #C4C4C4;
    border-radius: 10px;
    padding: 30px;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
  }
  
  .logo {
    width: 60px;
  height: 60px;
    margin-right: 20px;
  }
  
  .text {
    color: #D9D9DA;
    font-size: 20px;
    line-height: 12px;
  }
  
  .text2 {
   color: white;
   font-size: 20px;
   margin-top: 20px
  }

 .cart2 {
  width: 450px;
  /* border: 1px solid black; */
  border: 2mm ridge rgba(76, 76, 60, 0.6);
  margin-top: 20px;
  background:  linear-gradient(#6ba854, #c3dee0);
  padding: 10px;
 }

 P {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 }