* {
    box-sizing: border-box;
}

BODY {
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
}

#gallery {
    width: 860px;
    margin: 0 auto;
    text-align: center;
}

#gallery .photos {
    position: relative;
    height: 525px;
}

#gallery .photos IMG {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

#gallery .photos IMG.showed {
    opacity: 1;
}
