* {
    box-sizing: border-box;
}

BODY {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#gallery {
    width: 860px;
    margin: 0 auto;
    text-align: center;
}

#gallery .photos {
    position: relative;
    height: 670px;
}

#gallery .photos IMG {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 1s;
}

#gallery .photos IMG .showed {
    opacity: 1;
}

.prev,
.next {
    padding: 5px;
    background: rgb(49, 216, 71);
    color: white;
    border:1px solid white; 

}