* {
    box-sizing: border-box;
}

BODY {
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
/* header */
.header {
    /* display: flex; */
    /* justify-content: space-evenly; */
    font-size: 16px;
    color: white;
    padding: 14px;
    background: #000000;
}

.header-logo__mobile {
    display: none;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 58px;
    cursor: pointer;
    margin-left: 63px;
    margin-right: 438px;
}

Li:active {
    color: orange;
}

.open_menu {
    display: none;
}

.close_menu {
    display: none;
}

/* section-one */
.section-one__background {
    width: 100%;
    height: 700px;
    background-image: url(images/sectionone/giantpanda.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12px;
}

.orange-circle {
    width: 465px;
    height: 465px;
    margin-left: 650px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.section-one__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 74px;
    padding-left: 73px;
}

.yellow-word {
    color: #FFEE2E;
}

.section-one__btn {
    padding: 16px 1px 16px 5px;
    width: 298px;
    font-size: 16px;
    color: white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    margin-top: 60px;
    margin-left: 800px;
    cursor: pointer;
}

.section-one__btn:hover, .section-two__btn:hover, .section-three__btn:hover, .section-four__btn:hover {
    background: #E47209;
}

.section-one__btn:active, .section-two__btn:active, .section-three__btn:active, .section-four__btn:active {
    background: #4B9200;
}

/* section-two */
.section-two {
    padding-top: 140px;
    padding-bottom: 100px;
    background-image: url(images/sectiontwo/flowerfoto1.png), url(images/sectiontwo/palm_foto.png), url(images/sectiontwo/strelitzia.png);
    background-repeat: no-repeat;
    background-position: right 10px, left bottom, right bottom;
}

.section-one__btn-mobile {
    display: none;
}

.section-two__wrap {
    display: flex;
    gap: 87px;
    margin-bottom: 180px;
}

.section-two__content {
    color: #333B41;
    width: 465px;
}

.section-two__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;  
    margin-bottom: 20px; 
}

.section-two__info1 {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 54px;
}

.section-two__subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
}

.section-two__info2 {
    font-size: 16px;
    line-height: 140%;
}

.section-two__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;  
}

.gallery-card {
    border: 1px solid orange;
    border-radius: 5px;
}

.gallery-img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.gallery-card__footer {
    display: flex;
    padding: 8px 16px 10px 16px;
    justify-content: space-between;
}

.gallery-card__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 140%;  
}

.gallery-card__subtitle {
    font-weight: 300;
    font-size: 15px;
}

.section-two__btn{
    padding: 16px 1px 16px 5px;
    width: 298px;
    font-size: 16px;
    color: white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* section-three */
.section-three {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
}

.section-three__main {
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.main-wrap {
    padding: 41px 99px 59px 99px;
}

.section-three__title {
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    font-weight: 400;
    margin-bottom: 30px;
}

.section-three__subtitle {
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 40px;
}

.section-three__text {
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-three__subtext {
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    font-weight: 400;
    margin-bottom: 60px;
}

.section-three__caption {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    margin-bottom: 40px;
}

.section-three__gallery {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.section-three__cart {
   max-width: 168px;
}

.img-box {
    background: #FFFFFF;
    border: 1px solid orange;
    border-radius: 5px;
    margin-bottom: 30px;
}

.one-gallery-pic {
    padding: 54px 30px;
}

.two-gallery-pic {
    padding: 38px 41px 35px 41.23px;
}

.three-gallery-pic {
    padding: 48px 21.25px 48.4px 22px;
}

.text-cart {
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.cart-arrow {
margin-top: 65px;
}

.section-three__btn{
    padding: 16px 1px 16px 5px;
    width: 298px;
    font-size: 16px;
    color: white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* section-four */
.section-four {
    padding-top: 140px;
    padding-bottom: 180px;
    background-image: url(images/sectionfour/leav_foto.png);
    background-repeat: no-repeat;
    background-position: right bottom -120px;
}

.section-four__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    margin-bottom: 47px;
}

.section-four__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 21px;
}

.gallery-cart__gradient {
    max-width: 268px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 2px;
    border-radius: 20px;
}

.gallery-cart__background {
    max-width: 266px;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 15px 19px 16px;
}

.header-cart__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.header-cart__location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.dot {
    margin-left: 6px;
    margin-right: 5px;
}

.header-cart__wrap {
    display: flex;
    margin-bottom: 10px;
}

.sec-four__gallery-thumb {
    margin-right: 10px;
}

.gallery-cart__content {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.linescroll-gradient {
    width: 599px;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 1px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.linescroll-background {
    width: 597px;
    height: 6px;
    background: #F5F7F6;
    border-radius: 5px;
}

.scroll-runner {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
}

.section-four__btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 16px 80px 16px 80px;
    margin-left: 50px;
    cursor: pointer; 
}

/* footer */