A{
    text-decoration: inherit;
    color: inherit;
}

.card{
    background: blue;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 20px;
}

.card__link{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.card__link::before{
    content: "";
    display: block;
    /* margin-right: 10px; */
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid white;
	border-bottom: 10px solid transparent;
    transition: all 0.5s;
    opacity: 0;
   
}

.card__link::after{
    content: "";
    display: block;
    /* margin-left: 10px; */
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid white;
	border-bottom: 10px solid transparent;
    transition: all 0.5s;
    opacity: 0;
} 

.card__image{
    width: inherit;
}

.card__link:hover::before{
    transform: rotate(180deg);
    opacity: 1;
}

.card__link:hover::after{
    transform: rotate(-180deg);
    opacity: 1;

}

.card__list {
    display: flex;
    justify-content: space-between;
}  

.btn {
    color: white;
    background: red;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.page--active .btn {
    background: green;
}

.page--active .card__image {
    display: none;
}

.page--active .card__list{
    display: block; 
}

BODY{
    background:  linear-gradient(0deg, rgb(121, 156, 192) 0%, rgba(164, 51, 100, 0.312) 100%);
    
}